/* footer - css */
footer {
  /* decorate */
  background-color: var(--color4);
}



/* infos */ 
.footer-details_infos {
  text-align: center;
  padding: 1em;
}
.footer-details_infos > a > img {
  width: 4em;
  height: 4em;
}
.footer-details_infos > p {
  font-size: .8em;
}


/* Links and contacts */
.footer-details_links, .footer-details_contacts { 
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.footer-details_links > p, .footer-details_contacts > p {
  width: 100%;
}

.footer-details_links > a, .footer-details_contacts > a {
  width: 25%;
  display: flex;
  justify-content: center;
  gap: .8em;
  color: var(--colorBlack);
  text-decoration: none;
  transition: all ease .3s;
}

.footer-details_links > a:hover, .footer-details_contacts > a:hover { transform: scale(1.1); }
.footer-details_links > a:active, .footer-details_contacts > a:active { transform: scale(.9); }


/* directs */
.footer-directs {
  padding: 1.8em 1em 1.6em;
  text-align: center;
}

.footer-directs > a {
  color: var(--colorBlack);
  text-decoration: none;
}



/* media querries */
/* Tablets e maiores */
@media (min-width: 768px) {
  .footer-details {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-details > div {
    width: 30%;
  }

  .footer-details_links {
    align-items: center;
  }

  .footer-details_links > p {
    display: none;
  }

  .footer-details_links > a {
    width: 100%;
    justify-content: flex-end;
  }

  .footer-details_contacts > p {
    display: none;
  }

  .footer-details_contacts > a {
    width: 100%;
  }
}



/* Notebooks */
@media (min-width: 1024px) {

}



/* Desktops grandes */
@media (min-width: 1440px) {

}