/* root - vars */
:root {
  /* colors */
  --color1: #caff42;
  --color2: #ebf7f8;
  --color3: #d0e0eb;
  --color4: #88abc2;
  --color5: #49708a;
  --colorBlack: #00030c;
  --colorWhite: #ffffff;
}


/* index page */
main {
  height: 100vh;
  width: 100%;
  margin: 1em 0em;
}


/* carroussel */
/* general itens */
.carrousel {
  position: relative;
}

/* btn for carroussel */
.carrousel-btn {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.carrousel-btn > button {
  background-color: transparent;
  cursor: auto;
  transition: all .3s ease;
  border: none;
}

.carrousel-btn > button:hover { transform: scale(1.1); }
.carrousel-btn > button:active { transform: scale(.9); }

.carrousel-btn > button > i {
  color: var(--colorWhite);
  font-size: 2.6em;
  transition: all .3s ease;
  cursor: pointer;
}



/* screen - carroussel */
.carrousel-screen {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.carrousel-screen > img {
  max-width: 100%;
}

.screen-disable { display: none; }
.animatio-entraceX { animation: entraceX .5s ease-in forwards; }
.animatio-exiteX { animation: exiteX .5s ease-in forwards; }




@keyframes entraceX {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes exiteX {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}