/* root - vars */
:root {
  /* colors */
  --color1: #caff42;
  --color2: #ebf7f8;
  --color3: #d0e0eb;
  --color4: #88abc2;
  --color5: #49708a;
  --colorBlack: #00030c;
  --colorWhite: #ffffff;
}


/* index page */
main {
  width: 100%;
  margin: 1em 0em;
}


/* carroussel */
/* general itens */
.carrousel {
  position: relative;
}

/* btn for carroussel */
.carrousel-btn {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.carrousel-btn > button {
  background-color: transparent;
  cursor: auto;
  transition: all .3s ease;
  border: none;
}

.carrousel-btn > button:hover { transform: scale(1.1); }
.carrousel-btn > button:active { transform: scale(.9); }

.carrousel-btn > button > i {
  color: var(--colorWhite);
  font-size: 2.6em;
  transition: all .3s ease;
  cursor: pointer;
}



/* screen - carroussel */
.carrousel-screen {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.carrousel-screen > img {
  max-width: 100%;
}

/* classes for js carroussel */
.screen-disable { display: none; }
.animatio-entraceX { animation: entraceX .3s ease-in forwards; }
.animatio-exiteX { animation: exiteX .3s ease-in forwards; }
/* carroussel - animations */
@keyframes entraceX {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes exiteX {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}



/* welcome text */
.welcometext {
  padding: 2em;
  text-indent: 1em;
}

.welcometext > P:last-child {
  margin: .6em 0em;
}



/* tecnologis area */
.card_tec {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  margin: 3em 0em;
  padding: 1em;
  opacity: 0;
}

.card_title > img {
  height: 2.4em;
}

.card_main {
  width: 70%;
}

.card_main > p > strong {
  font-weight: 700;
}

.card_footer > a {
  color: var(--colorBlack);
  font-weight: 700;
  text-decoration: none;
  transition: all ease .3s;
}

.card_footer > a:hover {
  color: var(--color1);
}

/* Right-align */
.R-align {
  align-items: flex-end;
  color: var(--colorWhite);
  background-color: var(--color5);
  box-shadow: 0 0 .8em var(--color5);
}
.R-align > div.card_footer > a {
  color: var(--colorWhite);
}
.R-align > .card_main {
  text-align: right;
}

/* left-align */
.L-align {
  background-color: var(--color4);
  box-shadow: 0 0 .8em var(--color4);
}

/* tecnologis area css class for js work */
.show_tec-cards-R {
  animation: tecCardsViewR .3s ease forwards;
}
.show_tec-cards-L {
  animation: tecCardsViewL .3s ease forwards;
}

/* tecnologis area animations */
@keyframes tecCardsViewR {
  from {
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tecCardsViewL {
  from {
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}



/* partener area */
.partener {
  text-align: center;
  padding: 1.6em;
}

.partener-circle {
  overflow: hidden;
  margin: 1.6em 0em;
  width: 100%; 
}

.icons {
  display: flex;
  gap: 2.4em;
  width: max-content;
  animation: scroll-partner 15s linear infinite;
}

.icons > i {
  font-size: 3.2em;
}

/* Animação infinita - partner */
@keyframes scroll-partner {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-50% - 1.2em)); } /* esse 1.2em vem do gap do .icons/2 para manter o tamanho correto e o ajuste ser automatico a ualquer tamanaho de tela */
}

/* Pausar ao passar o mouse */
.partener-circle:hover .icons {
  animation-play-state: paused;
}



/* coments for user area */
.comentsUser {
  margin: 4em 0em;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 2.4em;
}

.comentsUser > h2 {
  text-align: center;
}

.comentsUser_carBox {
  display: flex;
  flex-flow: column;
  gap: 1.6em;
}

.comentsUser_card {
  padding: 1.6em;
  border-radius: 1em;
  background-color: var(--color4);
  box-shadow: 0 0 1em var(--color4);
  transition: all ease .3s;
  opacity: 0;
}

.comentsUser_card:nth-child(4) {
  background-color: var(--color1);
  box-shadow: 0 0 1em var(--color1);
}

.comentsUser_card:hover {
  transform: scale(1.01);
}

.comentsUser_card > p {
  text-indent: 1em;
}

.comentsUser_card > h3 {
  margin-top: .8em;
  font-weight: 700;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comentsUser_card > h3 > i {
  font-size: 1.3em;
  padding: .1em;
  border-radius: 50%;
}

/* coments for user area for js work */
.comentsUser_card-show {
  animation: comentsUser_card-show-animation .3s ease-out forwards;
}

/* coments for user area - animation */
@keyframes comentsUser_card-show-animation {
  to {
    opacity: 1;
  }
}



/* pricing area */
.pricing {
  display: flex;
  flex-flow: column nowrap;
  gap: 3em;
  align-items: center;
}

.pricing-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.6em;
}

.plan  {
  margin: 0em 1em;
  padding: 1.6em;
  width: 100%;
  background-color: var(--color4);
  border-radius: 1.2em;
  transition: all ease-in-out .3s;
}

.plan:hover {
  transform: scale(1.01);
}

.popular {
  background-color: var(--color1);
}

.plan > h3 {
  margin-bottom: 2.4em;
}

.plan > .pricing-value {
  font-weight: 700;
  margin-bottom: .6em;
}

.plan > .pricing-value > strong {
  font-size: 1.6em;
}

.plan > .pricing-text {
  font-weight: 700;
}

.plan > button {
  width: 100%;
  margin: 1.2em 0em;
  padding: 1.2em;
  border-radius: 1.6em;
  border: none;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 1.2em;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.plan > button:hover {
  transform: scale(1.02);
}

.plan > button:active {
  transform: scale(.95);
}

.plan > h4 {
  font-weight: 700;
  margin-bottom: .6em;
}

.plan > ul {
  padding: 0em .8em;
}

.plan > ul > li {
  margin: .6em 0em;
}


.pricing-Btn {
  position: relative;
  background-color: var(--color4);
  padding: 1em 0em;
  border: none;
  border-radius: 1.6em;
  font-weight: 700;
  font-size: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 50%;
}

.pricing-Btn > span {
  z-index: 2;
  width: 50%;
  text-align: center;
}

/* adjusts in indicator */
.pricing-Btn > .indicator {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 50%;
  background-color: var(--color3);
  border-radius: 1.6em;
  z-index: 0;
  transition: all .3s ease-in-out;
}

/* class for js work */ 
.yearBtn { left: 4px; }
.mouthBtn { left: calc(50% - 4px); }



/* Frequently Asked Questions */
.quests {
  min-height: 80vh;
  width: 90%;
  margin: 3em auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.2em;
}

.quest-box {
  padding: 1.6em .8em;
  border: 2px solid var(--color4);
  border-radius: 1.6em;
  box-shadow: 0px 0px 1em var(--color4);
  background-color: var(--color4);
}

.quest-box > div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.quest-box > div >  h3 {
  font-size: 1.1em;
  margin: 0em 0em 0em 1em;
}

.quest-box > p {
  overflow: hidden;
  margin: 0em 3em 0em 3em;
  max-height: 0;
  padding: 0;
  transition: max-height .3s ease, padding .3s ease;
}

.quest-box.activeQuest > p {
  display: inline-block;
  max-height: 300px;
  padding: 1em 0em;
}

.quest-box > div > i {
  transition: transform 0.3s;
}

.quest-box.activeQuest > div > i {
  transform: rotate(180deg);
}



/* singUp sectio */
.singUp {
  padding: 1.6em;
  margin-bottom: 6em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.2em;
}

.singUp > h1 {
  font-size: 2.6em;
  text-align: center;
}

.singUp > p {
    font-size: 1.3em;
  text-align: center;
}

.singUp > button {
  padding: 1.6em 2.4em;
  border: none;
  border-radius: 2em;
  background-color: var(--color1);
  box-shadow: 0 0 1em var(--color1);
  font-weight: 700;
  font-size: 1.1em;
  transition: all .3s ease-out;
}

.singUp > button:hover {
  transform: scale(1.1);
}

.singUp > button:active {
  transform: scale(1.05);
}