/* navbar - css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 8;
  box-shadow: 0px 0px 10px var(--colorBlack);
}

/* navbar css */
.navbar-main {
  /* spacing */
  max-width: 100vw;
  padding: 1em;
  /* decorate */
  background-color: var(--color4);
  /* display */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.navbar-main > a {
  font-size: 2em;
  text-decoration: none;
  color: var(--colorBlack);
}



/* buttons menu */
/* navbar link menu */

/* navbar icons */
.bi-list, .bi-x-lg {
  font-size: 2em;
  transition: all .3s ease;
  cursor: pointer;
}
.bi-list:hover { transform: scale(1.2); }
.bi-list:active { transform: scale(1.1); }

/* hidden menu */
.hidden { display: none; }
/* show menu */
.show { animation: showMenu .3s ease-out forwards; }
/* close menu */
.closeMenu { animation: hiddenMenu .3s ease-out forwards; }

.navbar-link {
  /* display */
  position: absolute;
  z-index: 9;
  /* spacing */
  min-width: 100vw;
  /* decorate */
  background-color: var(--color4);
  box-shadow: 0px 0px 10px var(--colorBlack);
}

.navbar-link > ul {
  height: 3.6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-link > ul > li > a {
  color: var(--colorBlack);
  text-decoration: none;
}

.navbar-link > ul > li { transition: .3s ease; }
.navbar-link > ul > li:hover { transform: scale(1.2); }
.navbar-link > ul > li:active { transform: scale(.9); }



/* buttons menu  - animation */
/* show */
@keyframes showMenu {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px)
  }
}
/* close */
@keyframes hiddenMenu {
  from {
    opacity: 1;
    transform: translateY(-1px)
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}